<!DOCTYPE html>
<html lang="en">
	<%- include('../adminlayout/header') -%>
<body>


	<!-- SIDEBAR -->
	<%- include('../adminlayout/slider') -%>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<%- include('../adminlayout/navbar') -%>
		<!-- NAVBAR -->


		<!-- MAIN -->
		<main>
			
		</main>
		<!-- MAIN -->


	</section>
	<!-- CONTENT -->
	

	<%- include('../adminlayout/footer') -%>
</body>
</html>