






<style>

    .footer .box-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 85%;
        margin: 0 auto;
        margin-top: 50px;
    }
    
    .footer .box {
        flex: 1;
        max-width: 20rem;
        margin: 1rem;
    }
    
    .footer .box h3 {
        margin-left: 0;
        color: #000000; 
    }
    
    .footer .box a {
        font-size: 1rem;
        padding: 0.5rem 0;
        color:#000000;
        display: flex;
        align-items: center;
    }
    
    /* .footer .box a i {
        padding-right: 0.5rem;
    } */
    
    /* .footer .box a:hover i {
        padding-right: 2rem;
    } */
    
    @media only screen and (max-width: 768px) {
        .footer .box {
            max-width: 100%;
        }
    }
    .box a{
        text-decoration: none;
    }
   
    
    </style>
    
    <section class="footer"  style="background-color: #fff;">
        <div class="box-container">

            <div class="box">
            <p>-------------------------------</p>

                <h3>our branches</h3>
                <a href="#"> Palakkad</a>
                <a href="#"> Wayanad</a>
                <a href="#"> Kollam</a>
                <a href="#"> Kozhikode</a>
            </div>
    
            <div class="box">
                <p>-------------------------------</p>

                <h3>quick links</h3>
                <a href="#home"> home</a>
                <a href="#about"> about</a>
                <a href="#menu">menu</a>
                <a href="#review"> review</a>
            </div>
    
            <div class="box">
                <p>-------------------------------</p>

                <h3>contact info</h3>
                <a href="#"> +91-9360854754</a>
                <a href="#"> vivek@gmail.com</a>
                <a href="#"> Kozhikode,Kerala</a>
                <a href="#"> Location</a>
            </div>
    
            <div class="box">
                <p>-------------------------------</p>

                <h3>social media</h3>
                <a href="#"> facebook</a>
                <a href="#"> twitter</a>
                <a href="#"> instagram</a>
                <a href="#"> linkedin</a>
            </div>
        </div>
    </section>
    
    
    
    </body>
    </html>

