






<style>

    .footer .box-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 85%;
        margin: 0 auto;
        margin-top: 50px;
    }
    
    .footer .box {
        flex: 1;
        max-width: 20rem;
        margin: 1rem;
    }
    
    .footer .box h3 {
        margin-left: 0;
        color: #fff; 
    }
    
    .footer .box a {
        font-size: 1rem;
        padding: 0.5rem 0;
        color:#fff;
        display: flex;
        align-items: center;
    }
    
    .footer .box a i {
        padding-right: 0.5rem;
    }
    
    .footer .box a:hover i {
        padding-right: 2rem;
    }
    
    @media only screen and (max-width: 768px) {
        .footer .box {
            max-width: 100%;
        }
    }
    
    </style>
    
    
    <section class="footer"  style="background-color: #004C3F;">
        <div class="box-container">
            <div class="box">
                <h3>our branches</h3>
                <a href="#"><i class="fas fa-arrow-right"></i> Palakkad</a>
                <a href="#"><i class="fas fa-arrow-right"></i> Wayanad</a>
                <a href="#"><i class="fas fa-arrow-right"></i> Kollam</a>
                <a href="#"><i class="fas fa-arrow-right"></i> Kozhikode</a>
            </div>
    
            <div class="box">
                <h3>quick links</h3>
                <a href="#home"><i class="fas fa-arrow-right"></i> home</a>
                <a href="#about"><i class="fas fa-arrow-right"></i> about</a>
                <a href="#menu"><i class="fas fa-arrow-right"></i> menu</a>
                <a href="#review"><i class="fas fa-arrow-right"></i> review</a>
            </div>
    
            <div class="box">
                <h3>contact info</h3>
                <a href="#"><i class="fas fa-phone"></i> +91-9360854754</a>
                <a href="#"><i class="fas fa-envelope"></i> vivek@gmail.com</a>
                <a href="#"><i class="fas fa-envelope"></i> Kozhikode,Kerala</a>
                <a href="#"><i class="fas fa-map-marker-alt"></i> Location</a>
            </div>
    
            <div class="box">
                <h3>social media</h3>
                <a href="#"><i class="fab fa-facebook-f"></i> facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> instagram</a>
                <a href="#"><i class="fab fa-linkedin"></i> linkedin</a>
            </div>
        </div>
    </section>
    
    
    
    </body>
    </html>

</body>
</html>