


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   


    <footer class="custom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 custom-col">
                    <h3 class="footer-heading">About Us</h3>
                    <ul class="footer-nav">
                        <li><a href="#">About Hypnosofa</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 custom-col">
                    <h3 class="footer-heading">Customer Service</h3>
                    <ul class="footer-nav">
                        <li><a href="#">Shipping & Returns</a></li>
                        <li><a href="#">Assembly Instructions</a></li>
                        <li><a href="#">Warranty Information</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 custom-col">
                    <h3 class="footer-heading">Our Branches</h3>
                    <ul class="footer-nav">
                        <li><a href="">Eranakulam</a></li>
                        <li><a href="">Kozhikode</a></li>
                        <li><a href="">Trivandrum</a></li>
                        <li><a href="">Cochin</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 custom-follow">
                    <h3 class="footer-heading">Follow Us</h3>
                    <ul class="social-icons">
                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2024 HYPNOSOFA. All Rights Reserved.</p>
        </div>
    </footer>
    
    
    
    <style>
        .custom-footer {
        background-color: #f2f2f2;
        padding: 30px 0;
    }
    
    .custom-footer .container {
        max-width: 1900px;
        margin: 0 auto;
    }
    
    .custom-footer .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .custom-col {
        padding-right: 25px;
        padding-left: 150px;
    }
    
    .custom-follow {
        padding-left: 171px; /* Adjust as necessary */
        padding-right: 180px; /* Adjust as necessary */
    }
    
    .custom-footer .footer-heading {
        font-size: 18px;
        margin-bottom: 15px;
        color: #333;
    }
    
    .custom-footer .footer-nav {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .custom-footer .footer-nav li {
        margin-bottom: 10px;
    }
    
    .custom-footer .footer-nav a {
        color: #333;
        text-decoration: none;
        font-size: 14px;
    }
    
    .custom-footer .footer-nav a:hover {
        color: #999;
    }
    
    .custom-footer .social-icons {
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .custom-footer .social-icons li {
        margin-right: 10px;
    }
    
    .custom-footer .social-icons a {
        color: #333;
        font-size: 18px;
    }
    
    .custom-footer .social-icons a:hover {
        color: #000;
    }
    
    .custom-footer .copyright {
        text-align: center;
        padding-top: 15px;
        color: #333;
    }
    
    .custom-footer .copyright p {
        margin: 0;
    }
    
    </style>