<%- include('header') -%>


<style>
  body {
    
    background-image: url(/assets/homeimg/login-bg.jpg);
    background-size: cover;
   padding: 0px;
   margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

 
  .container {
    text-align: center;
    width: auto;
    height: auto;
    border: 1px solid rgb(189, 189, 189);
    /* background-color: rgb(255, 255, 255);  */
    backdrop-filter: blur(3px);
}

  

  .login-container {
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 0 auto; 
  }

  .input-div {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding shadow */
}


  .i {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px 0 0 5px;
  }

  .input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    width: 112%;
  }

  #hai {
    text-decoration: none;
    color: #333;
  }

  #signbtn {
    text-decoration: none;
    color: black;
  }

  .btn1 {
    border: none;
    /* border-radius: 5px; */
    width: 226px;
    height: 44px;
    padding-right: 40px;
    
  }

  /* .btn1:hover {
    width: 190px;
    background-color: #156161;
    color: #FFF;
  } */

  /* @media only screen and (max-width: 480px) {

    .container {
    text-align: center ;
    width: 100vw;
    height: 100vh;

  }
  } */

</style>




            <div class="container " >
            
                <div class="login-container" >
                  <form  action="/home" method="post">
                    <h2>Welcome</h2>
                    <% if (error1) { %>
                      <p style="color: #004c3f;"><%= error1 %></p>
                  <% } %>
                    <div class="input-div" one>
                      <div class="i">
                        <i class="fas fa-envelope"></i>
                      </div>
                      <div>
                        <input class="input" placeholder="Email" name="email" type="email" />
                      </div>
                    </div>
                    <div class="input-div" two>
                      <div class="i">
                        <i class="fas fa-lock"></i>
                      </div>
                      <div>
                        <input class="input" placeholder="Password" name="password" type="password" id="password" />

                      </div>
                      <!-- <div class="checkbox-container">
                        <input type="checkbox" id="showPassword" onchange="togglePasswordVisibility()">
                        <label for="showPassword"></label>
                      </div> -->
                    </div>
                    <br>
                    <a id="hai"  href="/user/forgot-password">Forgot password ?</a><br>
                    <br>
                    <div class="input-div login" one>
                      <div class="i">
                        <i class="fas fa-arrow-right"></i>
                      </div>
                      <div>
                        <input type="submit" class="btn1" value="login" />
                      </div>
                    </div>
                    <!-- <input type="submit" class="btn1" value="login" /> -->
                    <br><br>
                    <a href="/user/Signup" style="text-decoration: none;color:black;" id="signbtn" ><i>Don't have an account? </i><strong>Sign Up</strong></a>
                  </form>
                </div>
              </div>
             







              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
              <script type="text/javascript" src="js/main.js"></script>
              <!-- <script>
                function togglePasswordVisibility() {
                  toggleVisibility('password');
                  toggleVisibility('confirmPassword');
                }
              
                function toggleVisibility(inputId) {
  var passwordInput = document.getElementById(inputId);

  if (passwordInput.type === 'password') {
    passwordInput.type = 'text';
  } else {
    passwordInput.type = 'password';
  }
}
              </script> -->

