<%- include('header') -%>

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex" href="/">
            <img src="/assets/homeimg/brand-logo2.png" alt="Logo" class="brand-logo">
            <span class="brand-name">Hypnosofa</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link"  href="#aboutt">
                        About
                    </a>
                </li>
                <% if (!user) { %>

                <li class="nav-item">
                    <a class="nav-link"  href="#productss">
                        Products
                    </a>
                </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link"  href="/user/product">
                            Products
                        </a>
                    </li>
                    <% } %>

                <li class="nav-item">
                    <a class="nav-link" href="/user/cart">
                        <% if (user) { %>
                        <% if (cartCount >= 0) { %>
                        Cart<i class="fa fa-shopping-cart"></i> <%= cartCount %>
                        <% } else { %>
                        <span>Nothing has happened</span>
                        <% } %>
                        <% } %>
                    </a>
                </li>
                <% if (user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist">
                        Wishlist
                        <!-- <i class="fa-solid fa-heart"></i> -->
                    </a>
                </li>
                <% } %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <% if (user) { %>
                        <%= user.name %>
                        <% } else { %>
                        Account
                        <% } %>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if (!user) { %>
                        <li><a class="dropdown-item" href="/user/signup">Signup</a></li>
                        <li><a class="dropdown-item" href="/user/login">Login</a></li>
                        <% } %>
                        <% if (user) { %>
                        <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/user/userOrder">My Orders</a></li>
                        <li><a class="dropdown-item" href="/user/cart">My Cart</a></li>
                        <li><a class="dropdown-item" href="/coupon">Coupons</a></li>
                        <li><a class="dropdown-item" href="/walletHistory">Wallet History</a></li>
                        <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .brand-logo {
        width: 40px;
        box-shadow: none;
    }

    .brand-name {
        margin-left: 10px;
        font-size: 20px;
    }
    .navbar-brand{
        margin-left: 30px;
    }

    .navbar {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .navbar .navbar-nav .nav-link {
        color: #333;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 40px 9px; /* Adjust spacing for navbar links */
    }

    .navbar .navbar-nav .dropdown-menu .dropdown-item {
        font-size: 14px;
    }

    .navbar .navbar-nav .dropdown-menu .dropdown-item i {
        margin-right: 10px;
    }

    .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
        background-color: #f8f9fa;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
