<%- include('header') -%>

<style>
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
  }

  .form-container {
    text-align: center;
  }

  form {
    display: inline-block;
    text-align: left;
    background: rgba(240, 240, 240, 0.7);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.8s ease-out;
    position: relative;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
  }

  input {
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
  }

  button {
    padding: 15px;
    background-color: #156161;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
  }

  button:hover {
    background-color: #388b5d;
  }

  .timer {
    font-size: 20px;
    color: red;
    margin-top: 10px;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<form action="/user/reset-password" method="post" id="resetForm">
  <% if (errorMessage1) { %>
    <p class="error-message"><%= errorMessage1 %></p>
  <% } %>
  <input type="hidden" name="email" value="<%= email %>">
  <label for="otp">Enter OTP:</label>
  <input type="text" id="otp" name="otp" required>
  <label for="newPassword">Enter New Password:</label>
  <input type="password" id="newPassword" name="newPassword" required>
  <div class="d-flex">
    <p style="color: black;">Resend In:<span id="timer">01:40</span></p>
  </div>
  <div id="resendOtp" style="display: none;">
    <a style="text-decoration: none; color: #1e1e1e;" href="/otpresend">Resend OTP</a>
  </div>
  <button type="submit">Reset Password</button>
</form>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  let duration = 100;
  const timerDisplay = $("#timer");
  const resendOtp = $("#resendOtp");

  function updateTimer() {
    const minutes = Math.floor(duration / 60);
    let seconds = duration % 60;
    seconds = seconds < 10 ? "0" + seconds : seconds;

    timerDisplay.text(`${minutes}:${seconds}`);

    if (duration === 0) {
      clearInterval(countdown);
      timerDisplay.text("00:00");
      resendOtp.css("display", "block");
    } else {
      duration--;
    }
  }

  updateTimer();
  const countdown = setInterval(updateTimer, 1000);
</script>
