<%-include('header') -%>

<nav>
    <i class='bx bx-menu' ></i>
    <form action="#">
    </form>
    <a href="#" class="profile">
        <img src="/assets/homeimg/ad-sofa-logo.jpeg">
    </a>
</nav>
<%-include('footer') -%>
