<%-include('header') -%>

<nav>
    <i class='bx bx-menu' ></i>
    <form action="#">
        <!-- <div class="form-input">
            <input type="search" placeholder="Search...">
            <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
        </div> -->
    </form>
    <a href="#" class="profile">
        <img src="/assets/homeimg/ad-sofa-logo.jpeg">
    </a>
</nav>
<%-include('footer') -%>
